#buttontextbox {
    width: 88px; 
    height: 31px;
    background-color: black;
    color:red;
    border: 1px solid red;
    padding-right: 2px;
}

img:hover {
    position: relative;
    top: -2px;
    transition: all 0.1s;
    
}