body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#buttontextbox {
    width: 88px; 
    height: 31px;
    background-color: black;
    color:red;
    border: 1px solid red;
    padding-right: 2px;
}

img {
    position: relative;
    transition: all 0.1s;
}

img:hover {
    top: -2px;
}

.buttoncointainer {
    display: flex;
    gap: 0.25em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}